@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,400,500,600,700&display=swap");

/**
 * Style variables
 */
$base-font-family: "JetBrains Mono", monospace !default;
$base-font-size: 14px !default;
$mobile-font-size: 16px !default;
$base-line-height: 1.625 !default;
$container-width: 90% !default;
$container-max-width: 600px !default;

/**
 * Global
 */
body {
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: var(--text-color);
    text-align: left;
    line-height: $base-line-height !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: $base-font-size;
    margin: 0px;
    margin-top: 22px;
    font-weight: bold;
    color: var(--text-color);
}
p,
ul,
ol {
    margin: 0px;
    color: var(--text-color);
}
ul {
  padding-left: 2em;
}

ul li {
  text-indent: -1em;
  padding-left: 1em;
  margin-bottom: 0.15em;
}

a {
    text-decoration: underline;
    color: var(--link-color);
}
a:hover {
    color: var(--background-color);
    background-color: var(--base-color);
}
@media only screen and (max-device-width: 500px) {
    * {
        font-size: $mobile-font-size !important;
    }
}

/**
 * Layout
 */
.container {
    width: $container-width;
    max-width: $container-max-width;
    margin-right: auto;
    margin-left: auto;
}
img {
    display: block;
    margin: 0 auto 0.5rem;
    max-width: 100%;
}
img + em {
    color: var(--text-color);
    display: block;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
}
p {
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    margin-bottom: 15px;
}
footer {
    color: var(--text-color);
    border-top: var(--border);
    margin-top: 2em;
    text-align: center;
    margin-bottom: 2em;
}
footer .copy {
    font-size: 0.9em;
    margin-top: 1.5em;
}
header {
    margin-top: 25px;
    margin-bottom: 10px;
}
header p {
    text-align: left;
    margin: 0;
}

/**
 * Highlight/Markup
 */
::selection {
    background: var(--selection-background);
    color: var(--selection-text);
}
::-moz-selection {
    background: var(--selection-background);
    color: var(--selection-text);
}

/**
 * Lists
 */
:not(.menu) > ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 9px;
}
:not(.menu) > ul {
    list-style-type: none;
}
:not(.menu) > ul > li:before {
    content: "-";
    margin-right: 9px;
}

/**
 * Header/Navigation
 */
.menu {
    border-top: var(--border);
    border-bottom: var(--border);
    margin-bottom: 25px;
}
.menu ul {
    margin-top: 12px;
    padding-left: 0px;
    list-style-type: none;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.menu ul li {
    margin-left: 2em;
}
.menu ul li:first-child {
    margin-left: 0px;
    margin-right: auto;
}
.menu ul li a {
    text-decoration: none;
    color: var(--text-color);
}
.menu ul li a:hover {
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--base-color);
}
